  @import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: hsl(185, 75%, 39%);
    background-image: url(/images/bg-pattern-top.svg), url(/images/bg-pattern-bottom.svg);
    background-position: left top, right bottom;
    background-repeat: no-repeat;
    background-size: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Kumbh Sans', sans-serif;
    color: hsl(229, 23%, 23%);
}

.container {
    background-color: white;
    background-image: url(/images/bg-pattern-card.svg);
    background-position: top;
    background-repeat: no-repeat;
    object-fit: contain;
    background-size: 100% 35%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dp img{
    width: 100%;
    height: auto;
    border: 5px solid white;
    border-radius: 50%;
}

section {
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-top: 2px solid hsl(227, 10%, 46%);
    text-align: center;
}

.username span{
    color: hsl(0, 0%, 59%);
    font-weight: 400;
}

.location {
    font-size: 18px;
    font-weight: 400;
    color: hsl(0, 0%, 59%);
    padding: 20px;
}

section p {
    font-size: 18px;
    font-weight: 400;
    color: hsl(0, 0%, 59%);
}


@media screen and (min-width: 300px) {
    .container {
        width: 90vw;
        /* height: 500px; */
    }
    .dp {
        margin-top: 120px;
    }
    section {
        margin-top: 40px;
        padding-top: 20px;
        padding-bottom: 40px;
    }
}

@media screen and (min-width: 700px) {
    .container {
        width: 500px;
    }
}